<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/offline">
<head>
    <meta charset="utf-8"/>
    <meta name="description"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>组员信息</title>
</head>
<body>
     <main layout:fragment="content">
        <article class="container">
            <header class="row" style="margin-bottom: 23%; margin-top: 10%">
                <div class="col s12">
                    <div class="col s6">
                        <h1 class="flow-text center"></h1>
                        <p class="center">
                            姓名：张李政
                        </p>
                        <p class="center">
                            学号：201803523
                        </p>
                    </div>
                    <div class="col s6">
                        <h1 class="flow-text center"></h1>
                        <p class="center">
                    	    姓名：李昆鸿
                		</p>
                		<p class="center">
                   	        学号：201803727
                		</p>
                    </div>
                </div>
            </header>
        </article>
    </main>
</body>
</html>
