<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/online">
<head>
    <title th:text="${otherUser.getUsername() + ' | 用户信息'}">Title of profile view</title>
</head>
<body>
    <main layout:fragment="content">
        <article class="container" style="padding: 3% 0 2%;">
            <header class="row">
                <div class="col s12">
                    <blockquote class="flow-text left" th:text="${otherUser.getUsername()} + |&apos; s profile|">Profile</blockquote>
                    <blockquote class="flow-text right" th:text="|Points: | + ${points}">Commitment</blockquote>
                </div>
            </header>
            <section class="row">
                <div class="col s12 m6">
                    <ul class="collection">
                        <li class="collection-item center">Personal data</li>
                        <li class="collection-item">
                            <span class="badge">
                                <span th:text="${otherUser.getUsername()}">Nick</span>
                            </span>用户名:
                        </li>
                        <li class="collection-item">
                            <span class="badge">
                                <span th:text="${otherUser.displayParsedDate()}">Created date</span>
                            </span>注册时间:
                        </li>
                    </ul>
                </div>
                <div class="col s12 m6">
                    <ul class="collection">
                        <li class="collection-item center strong">Activity</li>
                        <li class="collection-item">
                            <a th:href="@{'/images/user/' + ${otherUser.getId()}+'_'+'1'}" style="display: block; color: #26a69a">
                                <span class="badge">
                                    <span th:text="${numberOfTopics}"></span>
                                </span>Topics:
                            </a>
                        </li>
                        <li class="collection-item">
                            <a th:href="@{'/answers/' + ${otherUser.getId()}}" style="display: block; color: #26a69a">
                                <span class="badge">
                                    <span th:text="${numberOfAnswers}"></span>
                                </span>Answers:
                            </a>
                        </li>
                    </ul>
                </div>

			<header class="row">
				<div class="col s12">
					<blockquote class="flow-text left" th:text="|我上传的图片 |">照片墙</blockquote>
				</div>
			</header>

			<div class="row">
				<th:block th:each="imgUrl:${myImgs}">
					<div class="col s12 m6">
						<div class="card">
							<div class="card-image">
								<!--<img th:src="${imgUrl}" width="300" height="400"></img>-->
                                <img th:src="@{'~/' + ${imgUrl.getContent()} }"></img>
							</div>
							<div class="card-action">
								<a th:href="@{'~/' + ${imgUrl.getContent()} }">点击查看大图</a>
							</div>
						</div>
					</div>
				</th:block>
				<!--<a th:if="${isHasMoreImg}" th:href="@{'/imageWall/'+${otherUser.getId()}}">查看更多的照片...</a>-->
			</div>

			</section>
	</article>
    </main>
</body>
</html>