<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/offline">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Programming forum about Java powered by Spring Framework"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>参考资料</title>
    <link href="http://localhost:8080/css/materialize.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <main layout:fragment="content">
        <div class="row">
            <h1 class="center">开发工具</h1>
            <pre class="center">IDEAIntelliJ IDEA 2018.3.2 (Ultimate Edition)</pre>
            <pre class="center">JRE: 1.8.0_152-release-1343-b26 amd64</pre>
            <pre class="center">JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o</pre>
            <pre class="center">Windows 10 10.0</pre>
        </div>
        <div class="row">
            <h1 class="center">技术栈</h1>
            <pre class="center">web开发脚手架：Spring Boot</pre>
            <pre class="center">用户验证：SpringSecurity4</pre>
            <pre class="center">持久层框架：Mybatis</pre>
            <pre class="center">数据库：MySQL</pre>
            <pre class="center">前端框架：Materialize</pre>
        </div>
        <div class="row">
            <h1 class="center">参考资料</h1>
            <pre class="center">jQuery 教程手册 https://www.html.cn/doc/jquery/</pre>
            <pre class="center">CSS3教程手册 https://www.html.cn/doc/css3/</pre>
            <br/>
            <pre class="center">Spring Boot 官方文档 https://spring.io/projects/spring-boot</pre>
            <pre class="center">thymeleaf 文档 https://www.thymeleaf.org/documentation.html</pre>
            <pre class="center">SpringBoot视频教程 https://www.youtube.com/watch?v=r-6BwGW4Sr8&amp;t=24s</pre>
            <pre class="center">Spring Tutorials and Guides https://www.baeldung.com/</pre>
            <br/>
            <pre class="center">数据库结构参考物联网作品展示网站比赛写的Django作品</pre>
        </div>
    </main>
</body>

</html>




